asgiref==3.9.1
distlib==0.4.0
Django==5.2.4
django-filter==25.2
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
filelock==3.18.0
mysql==0.0.3
mysqlclient==2.2.7
platformdirs==4.3.8
PyJWT==2.10.1
sqlparse==0.5.3
tzdata==2025.2
virtualenv==20.32.0
pymysql
